@import 'colors';
@import 'fonts';
@import 'typography';

// Dimensions
$main-margin: 33px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $c-bg;
  color: $color;
  font: {
    family: $f-stack;
    size: $f-size;
    weight: $f-weight;
  }
  line-height: $line-height;
  margin: 0;
  padding: 0; // 12px 33px;
}

h1 {
  font: {
    size: $f-size-large;
    weight: $f-bold-weight;
  }
  letter-spacing: 1.37px;
  text-transform: uppercase;
}
